<p-dialog
  [header]="!headerTpl() ? header() : undefined"
  [(visible)]="visible"
  [modal]="modal()"
  [closable]="closable()"
  [draggable]="draggable()"
  [resizable]="resizable()"
  [maximizable]="maximizable()"
  [position]="position()"
  [style]="style()"
  [styleClass]="styleClass()"
  [closeOnEscape]="closeOnEscape()"
  [dismissableMask]="dismissableMask()"
  [blockScroll]="blockScroll()"
  [appendTo]="appendTo()"
  (onShow)="onShow.emit()"
  (onHide)="onHide.emit()"
>
  @if (headerTpl()) {
    <ng-template #header>
      <ng-container [ngTemplateOutlet]="headerTpl()!" />
    </ng-template>
  }

  <ng-content />

  @if (footerTpl()) {
    <ng-template #footer>
      <ng-container [ngTemplateOutlet]="footerTpl()!" />
    </ng-template>
  }
</p-dialog>
